<html ng-app="myApp">
<head>
	<title>Shubhank Srivastava</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1" />
	<meta name="author" content="Shubhank Srivastava" />
	<meta name="description" content="Shubhank Srivastava - Profile and Projects" />
	<meta name="keywords"  content="profile, projects, nodejs, php, css, angular, shubhank, srivastava, web, developer, javascript, full stack, engineer" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media='screen and (min-width: 600px)' href="shubhank.css"/>
	<link rel="stylesheet" type="text/css" media='screen and (max-width: 599px)' href="shubhank-phone.css"/>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.js"></script>
	<script src="shubhank.js"></script>
</head>
<body ng-controller="myController" ng-init="viewPortfolio()" class="ng-cloak">
	<header>
		<div ng-if="about" class="title">Hello!</div>
		<div ng-if="projects" class="title">Projects</div>
	</header>
<div>	
	<div class="one-half">
		<div ng-if="about" class="image">
			<div>
				<i style="vertical-align:text-bottom;" class="fa fa-quote-left fa-2x"></i>
		           &nbsp;&nbsp;&nbsp;I'm a 22 years old JS developer from New Delhi, India 
		           and I don't need caffeine to code.&nbsp;&nbsp;&nbsp; 
		        <i style="vertical-align:text-top;" class="fa fa-quote-right fa-2x"></i>
	    	</div>
		</div>
		<div ng-show="projects" class="content">
			<br>
			<div ng-repeat="repo in page_one" class="repeat-animation">
				<span><a href="{{repo.link}}" target="_block">{{repo.name}}</a></span>
				<br><br>Technology Stack: {{repo.tech}}
				<br>{{repo.desc}}
				<br><br>
			</div>
		</div>
	</div>
	<div class="two-half">
		<p ng-if="about" class="content">
			<br>
			<span>About Me</span><br><br>
			I started coding in high school. Since then it hasn't been just coding but more
			of project development. I like working in teams and giving life to projects from scratch till 
			they hatch.
			<br><br>
			I have always been a fan of the Open Source world and I cherish their technologies. 
			<br><br>
			So I make use of them to tackle challenging apps of the real world at every tier of the architecture. 
			<br>Please take a look at my projects.
			<br><br>
			I like listening to music, watching movies, playing FIFA and Indian food!<br>
			Real Madrid is my favourite club of football so I wanna go to Spain one day to watch them play.<br><br>
			I'm currently employed with <a href="www.posist.com" target="_block">POSist Technologies Pvt. Ltd.</a>
			<br><br><br>
			<span>Contact Me</span>
			<br><br>
            <i style="vertical-align:middle;" class="fa fa-envelope fa-3x"></i>&nbsp;&nbsp;shubhanksrivastava94@gmail.com
            &nbsp;&nbsp;&nbsp;
            <i style="vertical-align:middle;" class="fa fa-mobile-phone fa-3x"></i>&nbsp;&nbsp;+91-7838088743
            <br><br><br>
            <span>Connect With Me</span>
            <br><br>
            <a href="https://www.facebook.com/shubhanksri">
                <i class="fa fa-facebook-square fa-3x"></i>&nbsp;&nbsp;&nbsp;
            </a>
            <a href="https://plus.google.com/+ShubhankSrivastava94">
                <i class="fa fa-google-plus-square fa-3x"></i>&nbsp;&nbsp;&nbsp;
            </a>
            <a href="https://www.linkedin.com/in/shubhanksrivastava">
                <i class="fa fa-linkedin-square fa-3x"></i>&nbsp;&nbsp;&nbsp;
            </a>
            <a href="https://github.com/shubhank-srivastava">
                <i class="fa fa-github-square fa-3x"></i>&nbsp;&nbsp;&nbsp;
            </a>
		</p>
		<div ng-show="projects" class="content">
			<br>
			<div ng-repeat="repo in page_two" class="repeat-animation">
				<span><a href="{{repo.link}}">{{repo.name}}</a></span>
				<br><br>Technology Stack: {{repo.tech}}
				<br>{{repo.desc}}
				<br><br>
			</div>
		</div>
	</div>
</div>
	<footer>
	<div class="links">
		<a ng-click="viewPortfolio()">about</a>
		<a href="Shubhank.pdf">resume</a>
		<a ng-click="viewProjects()">projects</a>
	</div>
	</footer>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62609267-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>

		