body{
 margin:0;
 padding: 0;
 overflow-x: hidden;
}
a{text-decoration: none;color: inherit;}
header{
	z-index: 2;
	width:100%;
	height:58px;
}
.repo-link:hover{cursor: pointer;text-decoration: underline;}
.title{
	display: inline-block;
    font-family: NuetraBold,arial;
	font-size: 50px;
	padding-left: 5%;
	letter-spacing: 1em;
	color: #16a085;
	background-color: white;
}
.title.ng-enter,
.title.ng-leave{
  -webkit-transition:0.3s linear all;
  transition:0.3s linear all;
}
.title.ng-enter {transform:translateX(-500%);}
.title.ng-enter.ng-enter-active {transform:initial;}
.title.ng-leave {transform:translateX(500px); }
.title.ng-leave.ng-leave-active {transform:translateX(150%);}

.one-half{
	float: left;
	width:50%;
	background-color:#3b3b3b;
	color: white;
	height: 80%;
}
.image{
	background-image: url(./shubh2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
    margin: 0;
    font-family: calibri light,arial;
    font-size: 100%;
    font-style: bold;
    line-height: 1.2em;
    color: #16a085;
}
.image.ng-enter,
.image.ng-leave{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}
.image.ng-enter{ opacity:0; }
.image.ng-enter.ng-enter-active{ opacity:1; }
.image.ng-leave { opacity:1; }
.image.ng-leave.ng-leave-active { opacity:0; }

.image div{
	position: relative;
	top: 70%;
	padding: 0% 28% 0% 28%;
	background-color: rgba(0,0,0,0.8);
}
.image:hover{
	background-image: url(./shubh1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    height:100%;
    color: white;
}
.one-half .content{
    font-family: calibri light,arial;
    padding-left: 2%;
    color:white;
    font-size: 14px;
    line-height: 1.2em;
}
.one-half .content span{
	font-size:20px;
	letter-spacing: 0.5em;
	color:#16a085;
}
.two-half{
	float:left;
	width:50%;
	background-color:#16a085;
    height: 80%;
    overflow-y:auto; 
}
.two-half .content{
	font-family: calibri light,arial;
	padding-left: 2%;
	color: white;
	line-height: 1.2em;
	font-size: 14px;
}
.content.ng-enter,
.content.ng-leave{
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}
.content.ng-enter{ opacity:0; }
.content.ng-enter.ng-enter-active{ opacity:1; }
.content.ng-leave { opacity:1; }
.content.ng-leave.ng-leave-active { opacity:0; }
.two-half .content span{
	font-size:20px;
	letter-spacing: 0.5em;
	color:#3b3b3b;
}

footer{
	clear: both;
	width:100%;
	z-index: 2;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer .links{
    font-size: 20px;
    font-family: calibri,arial;
    text-align: center;
}

footer .links a{
	text-decoration: none;
	margin-right: 5%;
	color: #16a085;
}

footer .links a:hover{
	color: #3b3b3b;
	transition:color 0.7s;
	cursor: pointer;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  transition-delay:1s;
}
.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0;}
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1;}
.repeat-animation.ng-leave { opacity:1; }
.repeat-animation.ng-leave.ng-leave-active { opacity:0;display: none; }