html{
	margin: 0;
}
body{
 margin:0;
 padding: 0;
}
a{text-decoration: none;color: inherit;}
header{
	z-index: 2;
	width:100%;
	top:0;
}
header .title{
	font-family: NuetraBold,arial;
	font-size: 50px;
	padding-left: 5%;
	letter-spacing: 1em;
	color: #16a085;
	background-color: white;
	width: 100%;
}
.one-half{
	width: 100%;
	background-color:#3b3b3b;
	color: white;
}
.one-half .image{
	background-image: url(./shubh2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
    margin: 0;
    font-family: calibri light,arial;
    font-size: 100%;
    font-style: bold;
    line-height: 1.2em;
    color: #16a085;
}
.one-half .image div{
	position: relative;
	top: 70%;
	padding: 0% 28% 0% 28%;
	background-color: rgba(0,0,0,0.8);
}
.one-half .image:hover{
	background-image: url(./shubh1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    height:100%;
    color: white;
}
.one-half .content{
    font-family: calibri light,arial;
    padding-left: 2%;
    color:white;
    font-size: 14px;
    line-height: 1.2em;
}
.one-half .content span{
	font-size:20px;
	letter-spacing: 0.5em;
	color:#16a085;
}
.two-half{
	width: 100%;
	background-color:#16a085;
}
.two-half .content{
	font-family: calibri light,arial;
	padding-left: 2%;
	color: white;
	line-height: 1.2em;
	font-size: 14px;
}
.two-half .content span{
	font-size:20px;
	letter-spacing: 0.5em;
	color:#3b3b3b;
}

footer{
	width:100%;
	z-index: 2;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer .links{
    font-size: 20px;
    font-family: calibri,arial;
    text-align: center;
}

footer .links a{
	text-decoration: none;
	margin-right: 5%;
	color: #16a085;
}

footer .links a:hover{
	color: #3b3b3b;
	transition:color 0.7s;
	cursor: pointer;
}

